{% extends 'base.html.twig' %}
{% block title %} {{ title }} {% endblock %}

{% block body%}
    {% if var == true %}
            <div class="container">
                <h3> {{ film.titre }} </h3>
                <img src="{{ film.contenu }}" alt="image_{{ film.id }}">
            </div>
        {% else %}
            <div class="container">
                {% for a in film %}
                   <div class="film">
                        <h4>{{ a.titre }}</h4>
                        <img alt="image" src="{{ a.contenu }}"/>
                        <a href="{{path('film', {id : a.id} ) }}">
                        Voir ce Film
                       </a>
                    </div>
                {% endfor %}
            </div>
    {% endif %}
{% endblock %}